@use '../../App.scss' as g;

.btn {
    min-width: 100px;
    text-align: center;
    padding: 0 24px;
    color: g.$main-color2;
    display: inline-block;

    &.xsmall {
        padding:0 12px;
        min-width: 60px;
        line-height: 22px;
        height: 24px;
        font-size: 14px;
    }

    &.small {
        height: 32px;
        font-size: 16px;
    }

    &.middle {
        height: 40px;
        line-height: 40px;
        min-width: 136px;
        font-size: 16px;
    }

    &.large {
        height: 64px;
        font-size: 24px;
    }

    &.primary {
        background-color: g.$main-color1;
    }

    &.secondary {
        background-color: g.$percent-color;
    }

    &.outline {
        color: g.$main-color1;
        background-color: g.$main-color2;
        border: 1px solid g.$main-color1;
    }
    &.grey {
        color: g.$main-color2;
        background-color: g.$sub-color3;
        border: 1px solid g.$sub-color3;
    }
    &.wFull {
        width: 100%;
        display: block;
    }
}

input[type="text"] ,input[type="password"], input[type="email"] ,input[type="tel"] {
    border: 1px solid #f2f2f2;
    background: #f2f2f2;
    font-size: 1.6rem;
    padding: 0 20px;
    line-height: 40px;
    height: 40px;
    color: g.$sub-color3;

    &:focus {
        border: 1px solid g.$main-color1;
    }

    &::placeholder {
        color: g.$sub-color2;
    }
    &.xsmall{
        height: 24px;
        line-height: 24px;
        padding: 0 4px;
        font-size: 14px;
    }
}

input[type="checkbox"] {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid g.$sub-color2;
    border-radius: 2px;
    background-color: white;
    accent-color: g.$main-color1;
}

/* 체크*/
input[type="checkbox"]:checked {
    background-color: g.$main-color1;
    border: 1px solid g.$main-color1;
}

/* 체크 표시(✔) */
input[type="checkbox"]:checked::after {
    content: '✔';
    color: white;
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1;
}

input[type="radio"] {
    position: relative;
    width: 16px;
    height: 16px;
    border: 1px solid g.$sub-color2;
    border-radius: 50%;
    accent-color: g.$main-color1;
}