@use '../../App.scss' as g;

.BottomMenu {
    display: none;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #000;
    // padding: 10px 20px;
    z-index: 1000;
    @include g.respond1024(1024px) {
        display: block;
    }

    ul {
        display: flex;
        justify-content: space-between;
        li {
            width: 100%;
            @include g.respond480(768px) {
                width: 80px;
            }

            a {
                display: block;
                text-align: center;
                padding: 10px 20px;
                @include g.respond480(768px) {
                    width: 100%;
                    padding: 10px 0;
                }

                img {
                    width: 70%;
                    @include g.respond768(1024px) {
                        width: 100%;
                    }
                }

                &:hover {
                    background: g.$color-primary;
                }
                // span {
                //     display: block;
                // }
            }

            button {
                display: block;
                text-align: center;
                padding: 10px 20px;
                width: 100%;
                @include g.respond480(768px) {
                    width: 100%;
                    padding: 10px 0;
                }

                img {
                    width: 70%;
                    @include g.respond768(1024px) {
                        width: 100%;
                    }
                }

                &:hover {
                    background: g.$color-primary;
                }
            }
        }
    }
}
