@use '../../App.scss' as g;

.broadcast-list {
    @include g.myFlex($jc: space-between, $ai: center, $gap: 24px);

    @include g.respond1200(1200px) {
        // 핵심: 가로 스크롤 설정
        overflow-x: auto;
        white-space: nowrap;
        -webkit-overflow-scrolling: touch;

        // 스크롤바 커스텀 (디자인에 따라 선택)
        &::-webkit-scrollbar {
            height: 0px;
        }
    }

    .broadcast-box {
        display: block;
        width: 100%;
        height: 110px;
        border-radius: 12px;
        background-color: g.$color-bg-dark;

        @include g.respond1200(1200px) {
            flex-shrink: 0;
            width: 140px;
            height: 80px;
        }

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            img {
                display: block;
                // max-width: 40%;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }
        &:hover {
            background-color: g.$color-primary;
        }
    }
}
