@use '../../App.scss' as g;

.broadcast-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;

    @include g.respond768(768px) {
        gap: 8px;
    }

    .broadcast-box {
        display: block;
        width: 100%;
        height: 110px;
        border-radius: 12px;
        background-color: g.$color-bg-dark;

        @include g.respond768(768px) {
            padding: 16px;
            height: 40px;
        }

        > a {
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            height: 100%;

            img {
                display: block;
                // max-width: 40%;
                width: auto;
                height: auto;
                object-fit: contain;
            }
        }
        &:hover {
            background-color: g.$color-primary;
        }
    }
}
