@use '../../App.scss' as g;

.relative-wrap {
    @include g.myFlexCol($gap: 40px);
    padding: 0 60px;
    width: 644px;

    .relative-list {
        @include g.myFlexCol($gap: 20px);

        li {
            width: 100%;
            .relative-card {
                width: 100%;
                min-width: 482.75px;
                > iframe {
                    width: 100%;
                    aspect-ratio: 16 / 9;
                    border: none;
                }
            }
        }
    }
}
