@use '../../App.scss' as g;

.episode-wrap {
    @include g.myFlexCol($gap: 40px);
    padding: 0 60px;
    width: 644px;

    .episode-menu {
        @include g.myFlex($gap: 10px);
    }
    .episode-list {
        @include g.myFlexCol();

        .episode-card {
            @include g.myFlex($jc: start, $gap: 30px);

            .episodes-img {
                position: relative;
                overflow: hidden;
                max-width: 272px;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: rgba(0, 0, 0, 0);
                    border-radius: 12px;
                    cursor: pointer;
                }

                &:hover::after {
                    background: rgba(0, 0, 0, 0.7) url('/images/icons/icon-play-white.svg')
                        no-repeat center center;
                }
            }
            .episodes-text {
                @include g.myFlexCol($gap: 16px);
                max-width: 220px;

                .episode-overview {
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: g.$color-font-grey2;
                }
            }
        }
    }
}
