@use '../../App.scss' as g;

.episode-wrap {
    @include g.myFlexCol($gap: 40px);
    padding: 0 60px;
    width: 644px;

    .episode-menu {
        @include g.myFlex($gap: 10px);
    }
    .episode-list {
        @include g.myFlexCol();
        max-height: 1200px; // ← 여기만 추가
        overflow-y: auto;

        /* 스크롤바 전체 */
        &::-webkit-scrollbar {
            width: 8px; // 두께
        }

        /* 스크롤바 트랙 */
        &::-webkit-scrollbar-track {
            background: g.$color-secondary-dark2; // 트랙 배경
            border-radius: 4px;
        }

        /* 스크롤바 핸들 */
        &::-webkit-scrollbar-thumb {
            background-color: g.$color-secondary-dark3; // 핸들 색
            border-radius: 4px;
        }

        /* 핸들 호버 */
        &::-webkit-scrollbar-thumb:hover {
            background-color: #999;
        }

        .episode-card {
            @include g.myFlex($jc: start, $gap: 30px);
            .episodes-img {
                position: relative;
                cursor: pointer;
                display: inline-block;
                border-radius: 12px;
                overflow: hidden;
                width: 274px;

                .play-hover {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%);
                    width: 60px;
                    height: 60px;
                    opacity: 0;
                    transition: opacity 0.2s, transform 0.2s;
                    z-index: 2;
                }

                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: rgba(0, 0, 0, 0);
                    border-radius: 12px;
                    transition: background 0.2s;
                    z-index: 1;
                }

                &:hover {
                    .play-hover {
                        opacity: 1;
                        transform: translate(-50%, -50%) scale(1.1);
                    }
                    &::after {
                        background: rgba(0, 0, 0, 0.4);
                    }
                }
            }

            .episodes-text {
                @include g.myFlexCol($gap: 16px);
                max-width: 220px;

                .episode-overview {
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: g.$color-font-grey2;
                }
            }
        }
    }
}
