@use '../../App.scss' as g;

.recommend-wrap {
    @include g.myFlexCol($gap: 40px);
    padding: 0 60px;
    width: 644px;

    .recommend-list {
        @include g.myFlexCol();

        .recommend-card {
            @include g.myFlex($jc: start, $gap: 30px);

            .recommend-img {
                position: relative;
                overflow: hidden;
                max-width: 272px;

                > img {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    border-radius: 12px;
                }
                &::after {
                    content: '';
                    position: absolute;
                    inset: 0;
                    background: rgba(0, 0, 0, 0);
                    border-radius: 12px;
                    cursor: pointer;
                }

                &:hover::after {
                    background: rgba(0, 0, 0, 0.7) url('/images/icons/icon-play-white.svg')
                        no-repeat center center;
                }
            }

            .recommend-text {
                @include g.myFlexCol($gap: 16px);
                max-width: 220px;

                .recommend-title {
                    font-size: 18px;
                    word-break: keep-all;
                    overflow-wrap: break-word;
                }

                .recommend-middle {
                    @include g.myFlex($jc: unset, $gap: 0);
                    font-size: 14px;

                    .recommend-vote {
                        @include g.myFlex($jc: unset, $gap: 0);
                    }
                    .seperate::after {
                        content: '|';
                        margin: 0 6px;
                    }
                }

                .recommend-overview {
                    font-size: 14px;
                    display: -webkit-box;
                    line-clamp: 2;
                    -webkit-line-clamp: 2;
                    -webkit-box-orient: vertical;
                    overflow: hidden;
                    color: g.$color-font-grey2;
                    word-break: keep-all;
                    overflow-wrap: break-word;
                }
            }
        }
    }
}
