@use "../../App.scss" as g;

footer {
  .inner {
    position: relative;
    padding: 80px 20px;
    .chatbotNtopBtn {
      position: fixed;
      bottom: 40px;
      right: 20px;
      z-index: 10;
      @include g.myFlexCol($gap: 16px);
      .hidden {
        opacity: 0;
      }
      > .chatbot,
      > .goToTop {
        width: 50px;
        height: 50px;
        cursor: pointer;
        background-repeat: no-repeat;
      }
      > .chatbot {
        background-image: url(/images/icons/icon-chatbot.png);
      }
      > .goToTop {
        background-image: url(/images/icons/icon-top.png);
        cursor: pointer;
        transition: opacity 0.6s ease-in-out;
        &:hover {
          background-image: url(/images/icons/icon-top-hover.png);
        }
      }
    }
    .footer-item {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      margin-bottom: 60px;

      .footer-left {
        .left-top {
          display: flex;
          gap: 40px;
          margin-bottom: 30px;
          font-family: "wave";

          p {
            font-size: 16px;
            color: g.$color-other4;
            line-height: 160%;
            letter-spacing: -0.2px;
          }
        }
        .left-bottom {
          p {
            font-size: 16px;
            color: g.$color-other3;
            line-height: 180%;
            letter-spacing: -0.2px;
          }
        }
      }
      .footer-right {
        .right-item {
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          gap: 16px;

          .item-title {
            color: g.$color-other4;
            font-size: 18px;
            line-height: 160%;
            letter-spacing: -0.2px;
          }
          .item-phone {
            color: g.$color-other3;
            font-size: 32px;
            font-weight: 500;
            line-height: 160%;
            letter-spacing: -0.2px;
          }
          .work-hour {
            color: g.$color-other3;
            font-size: 14px;
            line-height: 180%;
            letter-spacing: -0.2px;
          }
        }
      }
    }
    .footer-bottom {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .footer-logo {
        width: 200px;
        height: 42px;
      }
      .app-icon-box {
        display: flex;
        align-items: center;
        gap: 16px;
      }
    }
  }
  background-color: #12141d;
}
