@use '../../App.scss' as g;

footer {
    .inner {
        position: relative;
        padding: 80px 20px;

        @include g.respond480 {
            padding: 20px;
        }

        .chatbotNtopBtn {
            position: fixed;
            bottom: 40px;
            right: 20px;
            z-index: 10;
            @include g.myFlexCol($gap: 16px);

            .hidden {
                opacity: 0;
            }

            > .chatbot,
            > .goToTop {
                width: 50px;
                height: 50px;
                cursor: pointer;
                background-repeat: no-repeat;
                // 기본상태 안보이기
                opacity: 0;
                pointer-events: none;
                // 나타나고 사라지는 것을 부드럽게 처리
                transition: opacity 0.3s ease-in-out;
            }

            > .chatbot {
                &.visible {
                    opacity: 1;
                    pointer-events: auto; // 클릭 활성화
                }
            }

            > .goToTop {
                background-image: url(/images/icons/icon-top.png);

                &.visible {
                    opacity: 1;
                    pointer-events: auto; // 클릭 활성화

                    &:hover {
                        background-image: url(/images/icons/icon-top-hover.png);
                    }
                }
            }
        }

        .footer-item {
            display: flex;
            align-items: flex-start;
            justify-content: space-between;
            margin-bottom: 60px;

            // 여기반응형
            @include g.respond480 {
                display: block;
            }

            .footer-left {
                .left-top {
                    display: flex;
                    gap: 40px;
                    margin-bottom: 30px;
                    font-family: 'wave';

                    p {
                        font-size: 16px;
                        color: g.$color-other4;
                        line-height: 160%;
                        letter-spacing: -0.2px;
                    }
                }

                .left-bottom {
                    // 여기반응형
                    @include g.respond480 {
                        display: none;
                    }

                    p {
                        font-size: 16px;
                        color: g.$color-other3;
                        line-height: 180%;
                        letter-spacing: -0.2px;
                    }
                }
            }

            .footer-right {
                .right-item {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    gap: 16px;

                    .item-title {
                        color: g.$color-other4;
                        font-size: 18px;
                        line-height: 160%;
                        letter-spacing: -0.2px;
                    }

                    .item-phone {
                        color: g.$color-other3;
                        font-size: 32px;
                        font-weight: 500;
                        line-height: 160%;
                        letter-spacing: -0.2px;
                    }

                    .work-hour {
                        color: g.$color-other3;
                        font-size: 14px;
                        line-height: 180%;
                        letter-spacing: -0.2px;
                    }
                }
            }
        }

        .footer-bottom {
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .footer-logo {
                width: 200px;
                height: 42px;
            }

            .app-icon-box {
                display: flex;
                align-items: center;
                gap: 16px;
            }
        }
    }

    background-color: #12141d;
}
