@use "../../App.scss" as g;

header {
  position: fixed;
  top: 0;
  width: 100%;
  height: 90px;
  z-index: 999;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0.9) 0%,
    rgba(0, 0, 0, 0.5) 50%,
    rgba(0, 0, 0, 0) 100%
  );
  &.active {
    background-color: g.$color-font-black;
    transition: 0.6s;
    .logo {
      img {
        svg {
          color: g.$color-font-primary;
        }
      }
    }
  }
  a {
    word-break: keep-all;
  }
  .inner {
    @include g.myFlex();
    line-height: 90px;
  }
  .header-left {
    @include g.myFlex($gap: 80px, $jc: flex-start);
    .logo {
      img {
        width: 140px;
        height: 33px;
      }
    }
    .main-menu {
      @include g.myFlex($gap: 36px, $jc: flex-start);
      li {
        a {
          color: g.$color-font-white;
        }
      }
    }
  }
  .header-right {
    @include g.myFlex($gap: 24px, $jc: flex-start);
    > .search {
      position: relative;
      width: 50px;
      height: 50px;
      background-image: url(./images/icons/icon-search.svg);
      background-repeat: no-repeat;
      background-position: center;
      background-size: 24px;
      background-color: transparent;
      cursor: pointer;
      > span {
        position: absolute;
        left: -100000px;
      }
      &:hover {
        border: 1px solid transparent;
        border-radius: 25px;
        background-color: rgba(255, 255, 255, 0.1);
      }
    }
    > .login {
      a {
        height: 50px;
        padding: 10px 24px;
        color: #fff;
        border-radius: 12px;
        letter-spacing: -0.2px;
        background-color: g.$color-font-primary;
      }
    }
    > .user-info {
      position: relative;

      .user {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
        height: 50px;
        font-size: 26px;
        border-radius: 50%;
        background-color: g.$color-primary;
        color: g.$color-font-white;
        cursor: pointer;
        background-position: center;
        background-repeat: no-repeat;
        background-size: 50px;
        &.char-1 {
          background-image: url("/images/icons/icon-char-1.svg");
        }
        &.char-2 {
          background-image: url("/images/icons/icon-char-2.svg");
        }
        &.char-3 {
          background-image: url("/images/icons/icon-char-3.svg");
        }
        &.char-4 {
          color: transparent;
          background-image: url("/images/icons/icon-char-4.svg");
        }
      }
      &:hover {
        .user-list {
          display: flex;
        }
      }
      .user-list {
        margin-top: 10px;
        padding: 20px;
        position: absolute;
        top: 100%;
        right: 0;
        width: 140px;
        display: flex;
        flex-direction: column;
        gap: 16px;
        border-radius: 12px;
        border: 1px solid g.$color-secondary-dark3;
        background-color: g.$color-secondary-black;
        display: none;
        li {
          font-family: "Wave";
          font-size: 0.875;
          width: max-content;
          line-height: 1;
        }
      }
    }
  }
  &.search-open {
    background: g.$color-font-black;
  }
  &.active.search-open {
    background: g.$color-font-black;
  }
}
