@use "../../App.scss" as g;

.main-nomination-wrap {
  background-image: url("/images/bg-main-nomination.svg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 90px 0px;
  padding: 90px 0px;
  height: 640px;
  padding: 90px 0px;
  padding: 90px 0px;

  .inner {
  .inner {
    .main-nomination {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      gap: 100px;
      gap: 100px;

      button {
        font-family: "pretendard";
      button {
        font-family: "pretendard";
      }
      .left-text {
        .item {
          margin: 50px 0 20px;
          margin: 50px 0 20px;

          > h3 {
          > h3 {
            font-size: 40px;
            line-height: 140%;
            letter-spacing: -2%;
            width: 272px;
          }

          > p {
          > p {
            font-size: 18px;
            line-height: 140%;
            letter-spacing: -2%;
            margin-bottom: 50px;
          }
        }
      }
      .content-list {
        display: flex;
        justify-content: space-between;
        gap: 24px;
        flex: 1;
        max-width: 1160px;

        > li {
          min-width: 342px;
          height: 460px;
          border-radius: 12px;
          overflow: hidden;
        }
      }
    }
  }
}
