.sectionBox {
  &.active {
    &::after {
      content: "";
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      // background: linear-gradient(90deg, rgba(0, 0, 0, 1) 0%, rgba(0, 0, 0, 0) 1%),
      //   linear-gradient(180deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 5%),
      //   linear-gradient(270deg, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0) 1%);
    }
  }
  .visualBox {
    overflow: hidden;
    max-height: 100vh;
    max-width: 100vw;
    object-fit: cover;
    position: relative;
    img {
      height: 100vh;
      object-fit: cover;
    }
    video {
      height: 100vh;
      object-fit: cover;
      transform: scaleY(1.08);
    }
    .visualBoxOverlay {
      position: absolute;
      display: block;
      bottom: 0;
      width: 100vw;
      height: 8%;
      background: linear-gradient(
        0deg,
        rgba(0, 0, 0, 0.9) 0%,
        rgba(0, 0, 0, 0.5) 50%,
        rgba(0, 0, 0, 0) 100%
      );
    }
  }
  .textBox {
    position: absolute;
    width: 40%;
    bottom: 20%;
    left: 6%;
    display: grid;
    grid-template-rows: repeat(3, auto);
    gap: 30px;

    .textT,
    .textM,
    .btnBox,
    .watchBTN {
      opacity: 0;
      transform: translateY(40px);
      animation: slideUp 1s ease forwards;
    }

    .textT {
      display: flex;
      flex-direction: column;
      align-items: start;
      gap: 30px;
      .tTag {
        height: 34px;
      }
      .tTitle {
        height: 220px;
      }
    }

    .textM {
      animation-delay: 0.5s;
      display: flex;
      flex-direction: column;
      align-items: start;

      // height: 34px;
      gap: 16px;
      font-weight: 500;
      .textMT {
        height: 24px;
        display: flex;
        align-items: center;
        gap: 16px;
        .ageBadge {
          height: 34px;
          object-fit: contain;
        }
      }
      .textMB {
        font-size: 24px;
      }
    }

    .btnBox {
      &.active {
        z-index: 1001;
      }
      animation-delay: 0.8s;
      display: flex;
      flex-direction: column;
      gap: 20px;
      margin-top: 20px;

      .btnBoxT {
        display: flex;
        gap: 20px;
        height: 68px;
        span {
          cursor: pointer;
        }
        .playBtn {
          width: 68px;
          height: 68px;
          background-image: url("/images/icons/icon-play.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;

          &:hover {
            background-image: url("/images/icons/icon-play-hover.svg");
          }
        }
        .heartBtn {
          width: 68px;
          height: 68px;
          background-image: url("/images/icons/icon-heart-sm.svg");
          background-repeat: no-repeat;
          background-position: center;
          background-size: contain;
          &:hover {
            background-image: url("/images/icons/icon-heart-hover.svg");
          }
          &.active {
            background-image: url("/images/icons/icon-heart-active.svg");
          }
        }
      }
      .btnBoxB {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 2px;
      }
    }
  }
}

.showText {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.6s ease, transform 0.6s ease;
}

.hideText {
  opacity: 0;
  transform: translateY(30px);
  transition: opacity 0.6s ease, transform 0.6s ease;
  pointer-events: none;
  animation: none;
}

@keyframes slideUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
