.Rankingcard {
  cursor: pointer;
  border-radius: 12px;
  overflow: hidden;
  width: 220px;
  height: 320px;
  a {
    img {
      object-fit: cover;
      transition: 0.4s;
      &:hover {
        scale: 1.05;
      }
    }
  }
}
.RankNum {
  position: absolute;
  font-size: 10rem;
  bottom: -50px;
  z-index: 2;
  left: -28px;
  font-family: "Russo One", sans-serif;
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: white;
  color: rgba($color: #000000, $alpha: 0.6);
}

@media (max-width: 1760px) {
  .RankNum {
    left: 5px;
    bottom: -30px;
  }
}
