@use "../../App.scss" as g;

.search-popup {
  position: fixed;
  inset: 0; //top: 90px + 전체 덮기
  height: calc(100vh);
  z-index: 999;

  .search-inner-wrap {
    position: relative;
    padding: 80px 240px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .close-bg {
      position: absolute;
      inset: 0;
      background: transparent;
      z-index: 0;
    }

    .search-inner {
      position: relative;
      z-index: 10;
      max-width: 1440px;
      margin: 0 auto;
    }
  }
}

.keyboard-box {
  // SearchInputBar.tsx
  .keyboard-top {
    border-bottom: 2px solid g.$color-secondary-white;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 24px;
    gap: 10px;

    input {
      border: none;
      border-radius: 0;
      background: none;
      padding: 0;
      height: 34px;
      font-size: 22px;
      width: 100%;
      line-height: 140%;

      &::placeholder {
        color: #4e525d;
        letter-spacing: -1%;
      }
    }
    .img-box {
      width: 34px;
      height: 34px;
      background: transparent;
      border: 0;
      padding: 0;

      img {
        width: 100%;
        height: 100%;
      }
    }
  }
  // SearchTypingPanel.tsx
  .typing-panel {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 78px;
    margin-top: 50px;

    //왼쪽 검색 결과
    .tmdb-result {
      width: 100%;
      max-width: 800px;
      max-height: 496px;

      &.is-loading,
      &.auto-hide {
        .hint {
          display: flex;
          align-items: center;
          justify-content: center;
          color: g.$color-other4;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: -1%;
          width: 100%;
        }
      }
      .result-list {
        li.is-active {
          width: 100%;
        }

        button.preview-item {
          width: 100%;
          text-align: left;

          .txt {
            .hit {
              color: g.$color-secondary-white;
              font-weight: 700;
              font-size: 18px;
              line-height: 140%;
            }
            .rest {
              color: g.$color-other4;
              font-size: 18px;
              line-height: 140%;
            }
          }
        }

        li.is-active {
          .preview-item {
            // 예: 활성 배경/테두리 등
            // background: ...;
            .txt {
              .hit,
              .rest {
                color: g.$color-secondary-white;
              }
            }
          }
        }
      }
    }
    .preview-list {
      display: flex;
      flex-direction: column;
      gap: 20px;

      > li {
        width: 800px;

        .preview-item {
          width: 100%;
          text-align: left;
          background: transparent;
          padding: 0;
          color: g.$color-other4;
          font-size: 18px;
          line-height: 140%;
          letter-spacing: -1%;
        }
      }
    }
    // 오른쪽 추천 검색어
    .recommend-box {
      width: 580px;

      .recommend-title {
        font-size: 20px;
        line-height: 140%;
        margin-bottom: 18px;
        color: g.$color-secondary-white;
      }
      .chips {
        display: flex;
        // width: 100%;
        flex-wrap: wrap;
        gap: 20px;

        .chip {
          border: 1px solid g.$color-secondary-white;
          background: transparent;
          color: g.$color-secondary-white;
          padding: 16px 20px;
          border-radius: 100px;
          font-size: 16px;
          line-height: auto;
          letter-spacing: -0.2px;
          white-space: nowrap;

          &:hover {
            background-color: #2c2c2c;
          }
        }
      }
    }
  }
  //SearchIdlePanel
  .search-bottom {
    width: 100%;
    min-height: 496px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    gap: 50px;
    margin-top: 50px;

    //왼쪽 최근 검색어
    .bottom-search-box {
      width: 100%;

      .searches-title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .title-left {
          font-size: 20px;
          line-height: 140%;
          letter-spacing: -1%;
        }
      }
      .empty-text {
        margin-top: 20px;
        color: g.$color-other4;
        font-size: 18px;
        line-height: 140%;
        letter-spacing: -1%;
      }
    }
    .latest-searches-box {
      .searches-title {
        button {
          display: flex;
          align-items: center;
          justify-content: space-between;
          gap: 6px;
          padding: 8px 12px;
          color: g.$color-other4;
          border-radius: 20px;
          font-size: 14px;
          letter-spacing: -0.2px;

          &::after {
            content: "";
            display: block;
            background-image: url("../../../public/images/icons/icon-trash.svg");
            background-size: cover;
            width: 20px;
            height: 20px;
          }
          &:hover {
            background-color: #2c2c2c;
          }
        }
      }
      .latest-searches-list {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        gap: 20px;

        > li {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 12px;

          .latest-text {
            font-size: 18px;
            color: g.$color-other4;
            border: 0;
            background: transparent;
            line-height: 140%;
            letter-spacing: -1%;
          }
          > button:last-child {
            width: 16px;
            height: 16px;
            background: transparent;
            border: 0;
            padding: 0;

            img {
              width: 100%;
            }
          }
        }
        .is-active {
          .latest-text {
            color: g.$color-secondary-white;
          }
        }
      }
    }
    //오른쪽 실시간 인기 검색어
    .popular-searches-box {
      .searches-title {
        padding: 4px 0;
        margin-bottom: 30px;

        .date-box {
          display: flex;
          align-items: center;
          justify-content: flex-end;
          gap: 4px;

          p {
            font-size: 14px;
            line-height: 140%;
            letter-spacing: -1%;
            color: g.$color-other4;
          }
        }
      }
      .popular-searches-list {
        margin-top: 24px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        > li {
          button {
            width: 100%;
            display: flex;
            align-items: center;
            gap: 12px;
            background: transparent;
            border: 0;

            .rank {
              font-size: 18px;
              line-height: 140%;
              text-align: left;
              color: g.$color-primary;
              width: 20px;
            }
            .word {
              color: g.$color-other4;
              font-size: 18px;
              line-height: 140%;
            }
          }
        }
        .is-active {
          button {
            .word {
              color: g.$color-secondary-white;
            }
          }
        }
      }
    }
  }
}

.result-list li.is-active button,
.preview-list li.is-active button,
.latest-searches-list li.is-active,
.popular-searches-list li.is-active {
  border: 1px solid g.$color-secondary-white;
}
