@use "../../App.scss" as g;

// input[type="text"]:focus,
// input[type="search"]:focus {
//   outline: none;
//   border: none;
//   box-shadow: none;
// }
.keyboard-top {
  border-bottom: 2px solid g.$color-secondary-white;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  padding-bottom: 24px;
  gap: 10px;
  width: 100%;
}
.keyboard-top > .keyboard-input {
  border: none;
  border-radius: 0;
  background: none;
  padding: 0;
  height: 34px;
  font-size: 22px;
  width: 100%;
  line-height: 140%;

  &::placeholder {
    color: g.$color-font-grey1;
    letter-spacing: -1%;
  }
}
.keyboard-top > .img-box {
  width: 34px;
  height: 34px;
  background: transparent;
  border: 0;
  padding: 0;

  img {
    width: 100%;
    height: 100%;
  }
}

input[type="text"]:focus {
  outline: none;
  border: none;
  box-shadow: none;
}
