@use "../../App.scss" as g;

.search-popup {
  position: fixed;
  inset: 0;
  height: calc(100vh);
  z-index: 999;

  .search-inner-wrap {
    position: relative;
    padding: 80px 240px;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);

    .close-bg {
      position: absolute;
      inset: 0;
      background: transparent;
      z-index: 0;
    }

    .search-inner {
      position: relative;
      z-index: 10;
      max-width: 1440px;
      margin: 0 auto;

      .keyboard-box {
        height: 694px;

        .close-wrap {
          display: flex;
          justify-content: flex-end;
          width: 100%;
          margin-bottom: 50px;

          .close-btn-box {
            width: 40px;
            height: 40px;
          }
        }
      }
    }
  }
}
