@use '../../App.scss' as g;

.card-list {
    // 타이틀
    .title-wrap {
        @include g.myFlex();
    }

    // 스와이퍼 리스트
    .swiper {
        overflow: visible;
        width: 100%;

        .swiper-wrapper {
            overflow: visible;
            padding-right: calc((100vw - 100%) / 2);

            .swiper-slide {
                overflow: visible;
                width: 220px;

                // 메인 카드
                .poster-wrap {
                    position: relative;
                    width: 220px;
                    height: 320px;
                    border-radius: 12px;
                    overflow: visible;
                    z-index: 1;

                    .main {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                        transition: opacity 1s ease;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 44px;
                        height: 44px;
                        background-image: url('/images/badge/badge-wavve-logo.svg');
                        transition: opacity 0.4s ease;
                    }

                    // 미리보기 카드
                    .preview-wrap {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 464px;
                        height: auto;
                        min-height: 464px;
                        opacity: 0;

                        @include g.myFlex($jc: unset, $gap: 1.4rem);
                        flex-direction: column;

                        padding: 0 30px;
                        background: black;
                        border: 1px solid #1d2131;
                        border-radius: 12px;
                        box-shadow: 0 0 40px 3px #0f1f42;

                        transition: opacity 0.4s ease, transform 0.4s ease;

                        .img-box {
                            position: relative;
                            width: 464px;
                            height: 300px;
                            overflow: hidden;
                            border-radius: 12px;

                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border: none;
                            }

                            > iframe {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                width: 100%;
                                height: 100%;
                                border: none;
                            }

                            .logo-box {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 100px;
                                padding: 0 30px;
                                @include g.myFlex();

                                text-align: start;

                                .content-logo {
                                    display: inline-block;
                                    height: 70%;
                                    object-fit: contain;
                                }

                                .sound-icon {
                                    display: inline-block;
                                    width: 48px;
                                    height: 48px;
                                }
                            }
                        }

                        .preview-badge-top {
                            width: 100%;
                            @include g.myFlex($jc: unset, $gap: 1.2rem);
                            font-family: 'Wave';
                            font-size: 18px;
                            font-weight: 400;
                            .preview-genre::after {
                                content: '|';
                                margin: 0 0 0 1.2rem;
                            }
                        }

                        .preview-badge-bottom {
                            width: 100%;
                            margin-bottom: 10px;
                            @include g.myFlex($gap: 0.4rem);

                            .preview-btn-wrap {
                                @include g.myFlex($gap: 1.2rem);
                                > p {
                                    cursor: pointer;
                                }
                            }
                        }
                    }

                    // 호버
                    &:hover {
                        z-index: 20;

                        &::after {
                            opacity: 0;
                        }

                        .main {
                            opacity: 0;
                        }

                        .preview-wrap {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                            transition-delay: 0.3s;
                            pointer-events: auto;
                        }
                    }
                }
            }

            // 첫번째 미리보기 카드 위치 조정
            .swiper-slide-active {
                .poster-wrap {
                    .preview-wrap {
                        left: 0;
                        transform: translate(0, -50%);
                    }

                    &:hover .preview-wrap {
                        transform: translate(0, -50%);
                    }
                }
            }

            // 화면상 마지막 카드 위치 조정 (className에 swiper-slide-visible는 들어가는데 fully-visible는 안들어가는 것)
            .swiper-slide-visible:not(.swiper-slide-fully-visible) {
                .poster-wrap {
                    .preview-wrap {
                        left: auto;
                        right: 50px;
                        transform: translate(0, -50%);
                    }

                    &:hover .preview-wrap {
                        right: 50px;
                        transform: translate(0, -50%);
                    }
                }
            }

            //진짜 마지막 미리보기 카드 위치 조정
            .swiper-slide:last-child {
                .poster-wrap {
                    .preview-wrap {
                        left: auto;
                        right: 0;
                        transform: translate(0, -50%);
                    }

                    &:hover .preview-wrap {
                        right: 0;
                        transform: translate(0, -50%);
                    }
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
        }
    }
}
