@use '../../App.scss' as g;

.card-list {
    // 타이틀
    .title-wrap {
        @include g.myFlex();
    }

    // 스와이퍼 리스트
    .swiper {
        overflow: visible;

        .swiper-wrapper {
            padding-right: calc((100vw - 100%) / 2);
            .swiper-slide {
                overflow: visible;
                width: 220px;

                // 메인 카드
                .poster-wrap {
                    position: relative;
                    width: 220px;
                    height: 320px;
                    border-radius: 12px;
                    overflow: visible;
                    z-index: 1;

                    .main {
                        position: absolute;
                        inset: 0;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        border-radius: 12px;
                        transition: opacity 1s ease;
                    }

                    &::after {
                        content: '';
                        position: absolute;
                        top: 0;
                        right: 0;
                        width: 44px;
                        height: 44px;
                        background-image: url('/images/badge/badge-wavve-logo.svg');
                    }

                    // 미리보기 카드
                    .preview-wrap {
                        position: absolute;
                        left: 50%;
                        top: 50%;
                        transform: translate(-50%, -50%);
                        width: 464px;
                        height: 420px;
                        opacity: 0;

                        @include g.myFlex($jc: unset);
                        flex-direction: column;

                        padding: 0 30px;
                        background: black;
                        border: 1px solid #1d2131;
                        border-radius: 12px;

                        transition: opacity 0.6s ease, transform 0.6s ease;

                        .img-box {
                            position: relative;
                            width: 464px;
                            height: 260px;

                            > img {
                                width: 100%;
                                height: 100%;
                                object-fit: cover;
                                border-radius: 12px;
                            }

                            .logo-box {
                                position: absolute;
                                bottom: 0;
                                left: 0;
                                width: 100%;
                                height: 100px;

                                @include g.myFlex($gap: 2.4rem);
                                padding: 0 30px;

                                .sound-icon {
                                    width: 48px;
                                    height: 48px;
                                }
                            }
                        }

                        .preview-badge-top {
                            width: 100%;
                            @include g.myFlex($jc: unset, $gap: 1.2rem);
                            font-size: 18px;
                        }

                        .preview-badge-bottom {
                            width: 100%;
                            @include g.myFlex($gap: 0.4rem);

                            .preview-btn-wrap {
                                @include g.myFlex($gap: 1.2rem);
                            }
                        }
                    }

                    // 호버
                    &:hover {
                        z-index: 20;

                        &::after {
                            opacity: 0;
                        }

                        .main {
                            opacity: 0;
                        }

                        .preview-wrap {
                            opacity: 1;
                            transform: translate(-50%, -50%);
                            transition-delay: 0.3s;
                            pointer-events: auto;
                        }
                    }
                }
            }
        }

        .swiper-button-prev,
        .swiper-button-next {
            opacity: 1;
        }
    }
}
