@use "../../App.scss" as g;
.choice-char {
  > ul {
    @include g.myFlex($jc: center, $gap: 80px);
    > li {
      display: flex;
      flex-direction: column;
      gap: 32px;
      align-items: center;
      cursor: pointer;
      .img {
        width: 180px;
      }
      .text {
        color: #878c9e;
        font-size: 1.25rem;
      }
    }
  }
}
