@use "../../App.scss" as g;
.choice-char-wrap {
  width: 100%;
  height: 100%;
  padding-top: 230px;
  padding-bottom: 0;
  .inner {
    display: flex;
    align-items: center;
    justify-content: center;

    .choice-char {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 125px;
      font-family: "wave";
      text-align: center;
      @include g.myFlexCol($gap: 100px);
      > div {
        display: flex;
        flex-direction: column;
        gap: 24px;
        > p {
          font-size: 1.125rem;
          color: g.$color-font-grey2;
        }
      }

      > ul {
        @include g.myFlex($jc: space-between, $gap: 80px);
        display: flex;
        align-items: center;
        width: 100%;

        > li {
          @include g.myFlexCol($gap: 30px);
          align-items: center;
          cursor: pointer;
          .img {
            width: 180px;
            transform-origin: center center;
            transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
          .text {
            color: #878c9e;
            font-size: 1.25rem;
            transition: color 0.3s ease, font-size 0.3s ease,
              transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
          }
          &:hover {
            .img {
              transform: scale(1.3);
              z-index: 10;
            }
            .text {
              color: g.$color-secondary-white;
              font-size: 1.375rem;
              transform: translateY(1.6875rem);
            }
            &.active {
              .img {
                transform: scale(1);
                img {
                  border: 5px solid g.$color-primary;
                  border-radius: 50%;
                }
              }
              .text {
                color: g.$color-secondary-white;
              }
            }
          }

          &.active {
            .img {
              img {
                transform: scale(1.3);
                border: 5px solid g.$color-primary;
                border-radius: 50%;
              }
            }
            .text {
              font-size: 1.375rem;
              color: g.$color-secondary-white;
              transform: translateY(1.6875rem);
            }
          }
        }
      }
    }
  }
}

@media (max-width: 1400px) {
  .choice-char-wrap {
    .inner {
      min-width: auto;
      margin: 0 auto;
      .choice-char {
        > ul {
          display: grid;
          grid-template-columns: repeat(2, 1fr);
        }
      }
    }
  }
}

@media (max-width: 680px) {
  .choice-char-wrap {
    padding-bottom: 180px;
    .inner {
      min-width: auto;
      margin: 0 auto;
      .choice-char {
        > ul {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
