@use "../../App.scss" as g;

.choice-char-wrap {
  min-width: 320px;
  padding-top: 90px;

  @include g.respond1024 {
    padding-top: 40px;
  }

  .choice-char {
    padding: 140px 0;
    font-family: "wave";
    text-align: center;
    @include g.myFlexCol($gap: 100px);
    @include g.respond1024 {
      padding: 60px 0;
      gap: 60px;
    }

    >div {
      display: flex;
      flex-direction: column;
      gap: 24px;

      >p {
        font-size: 1.125rem;
        color: g.$color-font-grey2;
      }
    }

    >ul {
      @include g.myFlex($jc: center, $gap: 80px);
      height: 300px;

      @include g.respond1024 {
        flex-wrap: wrap;
        height: auto;
        gap: 40px, 80px;

      }

      >li {
        @include g.myFlexCol($gap: 32px);
        align-items: center;
        cursor: pointer;
        .img {
          width: 180px;
          transform-origin: center center;
          transition: transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);

          @include g.respond1024 {
            width: 120px;
          }
          @include g.respond768 {
            width: 80%;
          }
        }

        .text {
          color: #878c9e;
          font-size: 1.25rem;
          transition: color 0.3s ease, font-size 0.3s ease,
            transform 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94);
        }

        &:hover {
          .img {
            transform: scale(1.3);
            z-index: 10;
          }

          .text {
            color: g.$color-secondary-white;
            font-size: 1.375rem;
            transform: translateY(1.6875rem);
          }

          &.active {
            .img {
              transform: scale(1);

              img {
                border: 5px solid g.$color-primary;
                border-radius: 50%;
              }
            }

            .text {
              color: g.$color-secondary-white;
            }
          }
        }

        &.active {
          .img {
            img {
              transform: scale(1.3);
              border: 5px solid g.$color-primary;
              border-radius: 50%;
            }
          }

          .text {
            font-size: 1.375rem;
            color: g.$color-secondary-white;
            transform: translateY(1.6875rem);
          }
        }
      }
    }
  }
}