@use '../../App.scss' as g;

.main-detail {
    padding-top: 91.25px;

    h3,
    .actor-name {
        font-family: 'Wave', sans-serif;

        @include g.respond480(480px) {
            font-size: 14px;
            min-width: 26px;
        }
    }

    .inner {
        display: flex;
        flex-direction: row;
        gap: 0;
        max-width: 1720px;
        width: 100%;
        margin: 0 auto;

        @include g.respond1200(1200px) {
            @include g.myFlexCol();
        }

        .detail-left {
            @include g.myFlexCol($gap: 40px);
            flex: 0 1 1076px;
            width: 100%;
            min-width: 0;

            @include g.respond1200(1584px) {
                flex: 0 1 860px;
                max-width: 860px;
            }
            @include g.respond1200(1300px) {
                flex: 1 1 auto;
                max-width: 760px;
            }
            @include g.respond1200(1200px) {
                flex: 1 1 auto;
                max-width: 1200px;
            }
            @include g.respond768(768px) {
                flex: none;
                max-width: 760px;
                width: 100%;
            }

            .detail-img-box {
                width: 100%;
                position: relative;

                .detail-backdrop {
                    img {
                        width: 100%;
                        border-radius: 12px;
                    }
                }
                .detail-logo {
                    position: absolute;
                    left: 5%;
                    bottom: 5%;
                    width: 300px;
                    img {
                        width: 100%;
                    }
                }
                > iframe {
                    left: 0%;
                    top: 0%;
                    width: 100%;
                    aspect-ratio: 16/9;
                    border: none;
                }
            }
            .detail-title-box {
                @include g.myFlex($gap: 0);
                flex-wrap: wrap;

                @include g.respond480(480px) {
                }

                .detail-title-left {
                    @include g.myFlex($jc: unset, $gap: 12px);

                    @include g.respond480(480px) {
                        font-size: 12px;
                        gap: 8px;
                    }
                    .title-certification {
                        @include g.respond480(480px) {
                            width: 24px;
                            height: 24px;
                        }
                    }
                    .title-star {
                        width: 16px;
                        height: 16px;
                        display: inline-block;
                        background: url('/images/icons/icon-star.svg') no-repeat center center;
                    }
                    .title-vote {
                        @include g.myFlex($jc: unset, $gap: 4px);

                        @include g.respond480(480px) {
                            gap: 0px;
                        }
                    }
                    .title-genre {
                        @include g.myFlex($jc: unset, $gap: 4px);

                        @include g.respond480(480px) {
                            gap: 0px;
                        }
                    }
                    .seperate::after {
                        content: '';
                        display: inline-block;
                        width: 1px;
                        height: 10px;
                        background: url('/images/icons/icon-line.svg');
                        margin-left: 12px;
                    }
                }

                .detail-title-right {
                    @include g.myFlex($jc: unset, $gap: 20px);

                    @include g.respond768(768px) {
                        gap: 10px;
                    }
                    @include g.respond480(480px) {
                        gap: 4px;
                    }

                    .detail-heart-btn {
                        width: 68px;
                        height: 68px;
                        background: url('/images/icons/icon-heart-default.svg') no-repeat center;
                        background-size: contain;

                        @include g.respond768(768px) {
                            width: 48px;
                            height: 48px;
                        }
                        @include g.respond480(480px) {
                            width: 32px;
                            height: 32pxx;
                        }

                        &:hover {
                            background: url('/images/icons/icon-heart-hover.svg') no-repeat center;
                        }

                        &.active {
                            background: url('/images/icons/icon-heart-active.svg') no-repeat center;
                        }
                    }
                    .detail-share-btn {
                        width: 68px;
                        height: 68px;
                        background: url('/images/icons/icon-share-default.svg') no-repeat center;
                        background-size: contain;

                        @include g.respond768(768px) {
                            width: 48px;
                            height: 48px;
                        }
                        @include g.respond480(480px) {
                            width: 32px;
                            height: 32pxx;
                        }

                        &:hover {
                            background: url('/images/icons/icon-share-hover.svg') no-repeat center;
                        }
                    }
                    .modal-overlay {
                        .modal-container {
                            .share-modal-top {
                                @include g.myFlex();
                            }
                            .share-modal-middle {
                                @include g.myFlex($jc: space-around, $gap: 30px);
                                margin: 0 50px;
                                text-align: center;
                                button {
                                    @include g.myFlexCol($gap: 10px);
                                    color: g.$color-font-white;
                                    > img {
                                        width: 60px;
                                        height: 60px;
                                    }
                                    > span {
                                    }
                                }
                            }
                            .share-modal-bottom {
                                display: flex;
                                align-items: center;
                                padding: 0 10px 0 20px;

                                width: 100%;
                                height: 52px;
                                background-color: g.$color-secondary-dark3;
                                border-radius: 100px;
                                box-sizing: border-box;

                                > span {
                                    flex: 1;
                                    white-space: nowrap;
                                    overflow: hidden;
                                    text-overflow: ellipsis;
                                    text-decoration: underline;
                                    color: g.$color-font-grey3;
                                    margin-right: 10px;
                                }

                                > button {
                                    flex-shrink: 0;
                                }
                            }
                            .share-alert {
                                position: fixed;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                z-index: 9999;

                                background-color: rgba(0, 0, 0, 0.8);
                                color: g.$color-font-white;
                                padding: 12px 24px;
                                border-radius: 8px;
                                font-size: 14px;
                                font-weight: 500;
                                box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);

                                animation: fadeInOut 2s ease-in-out;
                            }

                            @keyframes fadeInOut {
                                0% {
                                    opacity: 0;
                                    transform: translate(-50%, -40%);
                                }
                                15% {
                                    opacity: 1;
                                    transform: translate(-50%, -50%);
                                }
                                85% {
                                    opacity: 1;
                                    transform: translate(-50%, -50%);
                                }
                                100% {
                                    opacity: 0;
                                    transform: translate(-50%, -60%);
                                }
                            }
                        }
                    }
                }
            }
            .detail-text-box {
                @include g.myFlexCol($gap: 80px);

                .detail-content {
                    @include g.myFlex($ai: start, $gap: 120px);

                    @include g.respond768(768px) {
                        gap: 80px;
                    }

                    @include g.respond480(480px) {
                        gap: 60px;
                    }

                    .detail-content-left {
                        @include g.myFlexCol();
                        > p {
                            color: g.$color-other4;
                            display: -webkit-box;
                            line-clamp: 3;
                            -webkit-line-clamp: 3;
                            -webkit-box-orient: vertical;
                            overflow: hidden;

                            @include g.respond480(480px) {
                                font-size: 12px;
                            }
                        }
                    }
                    .detail-content-right {
                        .btn.default {
                            min-width: 342px;
                            @include g.respond1200(1200px) {
                                min-width: 240px;
                            }
                            @include g.respond768(768px) {
                                min-width: 240px;
                            }
                            @include g.respond480(480px) {
                                min-width: 180px;
                            }
                        }
                    }
                }
                .detail-cast {
                    @include g.myFlexCol();

                    .detail-cast-list {
                        @include g.myFlex($jc: unset, $gap: 24px);
                        width: 100%;
                        overflow: hidden;
                        overflow-x: auto;
                        white-space: nowrap;
                        -webkit-overflow-scrolling: touch;

                        &::-webkit-scrollbar {
                            width: 6px;
                        }

                        &::-webkit-scrollbar-thumb {
                            background-color: rgba(0, 0, 0, 0.1);
                            border-radius: 10px;
                        }

                        &::-webkit-scrollbar-track {
                            background: transparent;
                        }

                        // @include g.respond768(768px) {
                        //     overflow-x: auto;
                        //     white-space: nowrap;
                        //     -webkit-overflow-scrolling: touch;

                        //     // Chrome, Safari, Opera용 (Webkit)
                        //     &::-webkit-scrollbar {
                        //         width: 6px; // 스크롤바 너비
                        //     }

                        //     &::-webkit-scrollbar-thumb {
                        //         background-color: rgba(0, 0, 0, 0.1); // 아주 연한 색상
                        //         border-radius: 10px;
                        //     }

                        //     &::-webkit-scrollbar-track {
                        //         background: transparent;
                        //     }
                        // }

                        .cast-card {
                            width: 120px;
                            height: 195px;

                            .cast-card-imgbox {
                                width: 120px;
                                height: 160px;
                                border-radius: 12px;
                                margin-bottom: 14px;

                                img {
                                    width: 100%;
                                    height: 100%;
                                    object-fit: cover;
                                    border-radius: 12px;
                                }
                            }
                        }
                    }
                }
                .detail-crew-list {
                    @include g.myFlexCol();

                    li {
                        color: g.$color-other4;
                        &:not(:last-child)::after {
                            content: ',';
                        }
                    }

                    .detail-director {
                        @include g.myFlex($jc: unset);

                        .director-list {
                            @include g.myFlex($jc: unset, $gap: 6px);
                            flex-wrap: wrap;

                            > li {
                                @include g.respond480(480px) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .detail-writer {
                        @include g.myFlex($jc: unset);

                        .writer-list {
                            @include g.myFlex($jc: unset, $gap: 6px);
                            flex-wrap: wrap;

                            > li {
                                @include g.respond480(480px) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }

                    .detail-script {
                        @include g.myFlex($jc: unset);

                        .script-list {
                            @include g.myFlex($jc: unset, $gap: 6px);
                            > li {
                                @include g.respond480(480px) {
                                    font-size: 12px;
                                }
                            }
                        }
                    }
                }
            }
        }
        .detail-right {
            // max-width: calc(1720px - 1076px);
            flex: 1;
            min-width: 0; // 자식 요소 때문에 박스가 커지는 것 방지
            max-width: 100%; // 고정 계산식 삭제!

            @include g.respond1200(1200px) {
                // max-width: 768px;
                margin-top: 80px;
            }

            .detail-menu-wrap {
                @include g.myFlex($jc: unset, $gap: 30px);

                padding: 0 0 0 60px;
                width: 100%;

                @include g.respond1200(1200px) {
                    @include g.myFlex($jc: space-between, $gap: 0px);

                    padding: 0 60px;
                }
                @include g.respond480(480px) {
                    @include g.myFlex($jc: space-between, $gap: 0px);

                    padding: 0 20px;
                }

                .active {
                    border-bottom: 4px solid g.$color-primary;
                }

                .detail-menu-btn {
                    border-bottom: 4px solid g.$color-bg-dark;
                }

                > button {
                    padding: 20px 0;
                    color: white;
                    font-family: 'Wave', sans-serif;
                    font-size: 18px;
                }
            }
            .detail-menu-line {
                border-bottom: 1px solid g.$color-secondary-dark3;
                margin: 0 0 26px 0;
            }
            .detail-menu-content {
            }
        }
    }
}
