@use '../../App.scss' as g;

.event-detail-wrap {
    margin-top: 50px;
    flex-direction: column;
    justify-content: center;

    .event-detail {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 80px;

        .event-title-wrap {
            h3 {
                font-size: 28px;
                line-height: 150%;
                margin-bottom: 10px;
            }

            p {
                color: #878C9E
            }
        }


        .event-detail-top {
            display: flex;
            padding: 50px;
            justify-content: space-between;
            align-items: center;
            align-self: stretch;
            border-bottom: 1px solid #3D4256;
            border-top: 1px solid #3D4256;
        }
    }

}