.event-wrap {
  margin-top: 90px;
  padding-top: 80px;
  .event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;
    > li {
      .img-box {
        width: 200px;
      }
      .text-box {
      }
    }
  }
}
.event-detail-wrap {
  padding-top: 90px;
  .event-detail {
    .img-box {
      width: 800px;
    }
  }
}
