@use "../../App.scss" as g;
.event-group-wrap {
  margin-top: 90px;
  padding-top: 60px;

  .event-list-tab {
    margin: 40px 0 80px 0;
    @include g.myFlex($gap: 0);
    border-radius: 34px;
    background-color: g.$color-secondary-dark2;

    > li {
      flex: 1;
      > a {
        display: block;
        height: 68px;
        line-height: 68px;
        color: g.$color-font-white;
        text-align: center;
        font-family: "wave";

        &.active {
          background-color: g.$color-primary;
          border-radius: 34px;
        }
      }
    }
  }

  .event-list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 40px;

    > li {
      display: flex;

      .img-box {
        img {
          border-radius: 12px;
        }
      }

      .text-box {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 36px 36px;

        h3 {
          line-height: 150%;
        }

        dl {
          display: flex;
          align-items: center;
          gap: 12px;
          align-self: stretch;

          dt {
            color: #adb0be;
            border-right: 1px solid #4e525d;
            padding-right: 10px;
            line-height: 12px;
          }
        }
      }
    }
  }
}

.event-detail-wrap {
  padding-top: 90px;

  .event-detail {
    .img-box {
      width: 1000px;
    }
  }
}
.event-list-tab {
  margin: 80px 0;
  @include g.myFlex($gap: 0);
  border-radius: 34px;
  background-color: g.$color-secondary-dark2;

  > li {
    flex: 1;
    > a {
      display: block;
      height: 68px;
      line-height: 68px;
      color: g.$color-font-white;
      text-align: center;
      font-family: "wave";

      &.active {
        background-color: g.$color-primary;
        border-radius: 34px;
      }
    }
  }
}
