@use "../../App.scss" as g;

.main-home {
  @include g.myFlexCol($gap: 120px);
  overflow-x: hidden;
  padding-bottom: 200px;
}

.banner-event {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 180px;
  border-radius: 12px;
  background: g.$color-bg-dark;
  @include g.respond1200(1200px) {
    padding: 20px;
    height: auto;
  }
}
