@use "../../App.scss" as g;

.intro-wrap {
  @include g.myFlexCol($gap: 0);
  @include g.respond768(1024px) {
    width: 100%;
  }

  .intro1 {
    @include g.myFlexCol($gap: 52px);
    justify-content: center;
    align-items: center;
    position: relative;
    height: 1028px;
    overflow: hidden;
    @include g.respond1024(1200px) {
      width: 100%;
      height: 600px;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-image: url(/images/bg-login-45deg.png);
      background-position: center;
      opacity: 0.2;
      z-index: 0;
    }

    .double-logo {
      width: 237px;
      height: 37px;
    }

    .text-intro1 {
      width: 744px;
      @include g.respond768(1024px) {
        width: 80%;
      }
    }

    .btn-box {
      z-index: 2;

      button {
        width: 272px;
        background-color: g.$color-primary;
      }
    }
  }

  .intro2 {
    @include g.myFlexCol($gap: 52px);
    justify-content: center;
    align-items: center;
    height: 900px;

    @include g.respond1200(1400px) {
      height: unset;
      padding: 40px 0;
    }

    .text-intro2 {
      @include g.respond768(1024px) {
        width: 60%;
      }
    }

    ul {
      @include g.myFlex($gap: 24px);

      @include g.respond1200(1400px) {
        @include g.myFlexCol($gap: 24px);
      }

      > li {
        @include g.myFlexCol($gap: 20px);
        width: 464px;
        height: 378px;
        padding: 50px 40px;

        @include g.respond480(480px) {
          width: 90%;
        }

        border-radius: 12px;
        background: g.$color-secondary-dark2;
        background-position-x: calc(100% - 40px);
        background-position-y: calc(100% - 50px);
        background-repeat: no-repeat;

        > p {
          &:first-child {
            color: g.$color-font-white;
            font-family: "Wave";
            font-size: 26px;
            line-height: 140%;
            letter-spacing: -0.2px;
          }

          &:last-child {
            color: g.$color-font-grey3;
            font-size: 16px;
            line-height: 140%;
            letter-spacing: -0.2px;
          }

          span {
            display: block;
          }
        }

        &:nth-child(1) {
          background-image: url("/images/bg-intro-broadcast.png");
        }

        &:nth-child(2) {
          background-image: url("/images/bg-intro-youtube.png");
        }

        &:nth-child(3) {
          background-image: url("/images/bg-intro-wave-orgin.png");
        }
      }
    }

    .text-intro3 {
      width: 390px;
      height: auto;
    }
  }

  .intro3 {
    @include g.myFlexCol($gap: 52px);
    justify-content: center;
    align-items: center;
    height: 1028px;
    background-color: g.$color-primary;

    .text-intro3 {
      width: 597px;
      height: 128px;

      @include g.respond768(1024px) {
        width: 80%;
        height: auto;
      }
    }

    .img-box {
      @include g.myFlexCol($gap: 30px);
      overflow: hidden;

      .img-top,
      .img-bottom {
        display: flex;
        width: 100%;

        img {
          height: 320px;
        }

        .roll-track {
          display: flex;
          flex-shrink: 0;
          white-space: nowrap;

          img {
            display: block;
            width: 100%;
            margin-right: 24px;
          }
        }
      }

      .img-top {
        .roll-track {
          animation: rollRight 100s linear infinite;
        }
      }

      // 하단: 왼쪽으로 이동 (Right -> Left)
      .img-bottom {
        .roll-track {
          animation: rollLeft 100s linear infinite;
        }
      }
    }
  }

  .intro4 {
    @include g.myFlexCol($gap: 40px);
    justify-content: center;
    align-items: center;
    height: 444px;

    @include g.respond768(1024px) {
      padding: 40px;
      height: auto;
    }

    .text-intro4 {
      width: 561px;
      height: 62px;

      @include g.respond768(1024px) {
        width: 80%;
        height: auto;
      }
    }

    button {
      width: 272px;
    }
  }
}

@keyframes rollLeft {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-50%);
  }

  // 이미지 2개 중 하나만큼 왼쪽으로 밀기
}

@keyframes rollRight {
  0% {
    transform: translateX(-50%);
  }

  // 시작 지점을 반쯤 왼쪽으로 당겨둠
  100% {
    transform: translateX(0);
  }
}
