@use "../../App.scss" as g;

.payment-wrap {
  margin-top: 90px;
  padding-top: 60px;
  min-width: 320px;

  .inner {
    gap: 60px;
  }

  h2 {
    text-align: center;
  }

  section,
  .btn-box,
  .desc-wrap {
    width: 952px;
    margin: auto;

    @include g.respond1024 {
      width: 100%;
    }
  }

  section {
    @include g.myFlexCol($gap: 20px);

    h3 {
      color: g.$color-font-white;
      font-family: "Wave";
      font-size: 1.125rem;
      line-height: 160%;
    }
  }

  .payment-detail {
    @include g.myFlexCol($gap: 24px);
    padding: 50px;
    background: g.$color-secondary-dark1;
    border-radius: 12px;

    div.payment-top {
      @include g.myFlex();

      @include g.respond768 {
        @include g.myFlexCol($gap: 20px, );
        justify-content: flex-start;
        align-items: flex-start;
      }

      >h4 {
        color: g.$color-secondary-white;
        font-family: "wave";
        font-size: 22px;
        line-height: 140%;
      }

      >p {
        @include g.myFlex($gap: 4px, $jc: flex-end);

        .text-price {
          @include g.myFlex($gap: 16px, $jc: flex-end);

          .month {
            color: g.$color-font-grey2;
            font-size: 1.125rem;
            font-family: "pretendard";
          }

          .num {
            color: g.$color-font-white;
            font-family: "Wave";
            font-size: 2rem;
          }
        }

        .won {
          padding-top: 8px;
          color: g.$color-font-white;
          font-family: "Wave";
          font-size: 1.125rem;
        }
      }
    }

    div.payment-bottom {
      @include g.myFlex($gap: null, $ai: flex-end);

      @include g.respond768 {
        @include g.myFlexCol($gap: 20px, );
        justify-content: flex-start;
        align-items: flex-start;
      }

      .text-left {
        @include g.myFlexCol($gap: 8px);
        font-size: 0.875rem;

        >ul {
          @include g.myFlex($jc: flex-start, $gap: 20px);

          li {
            position: relative;

            &:first-child {
              &::before {
                width: 0;
              }
            }

            &::before {
              position: absolute;
              content: "";
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 20px;
              left: -10px;
              background-image: url(/images/bg-division.svg);
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 10px;
            }
          }
        }

        >p {
          @include g.myFlex($gap: 20px);

          .period-date {
            position: relative;

            &::before {
              position: absolute;
              content: "";
              top: 50%;
              transform: translateY(-50%);
              width: 1px;
              height: 20px;
              left: -10px;
              background-image: url(/images/bg-division.svg);
              background-repeat: no-repeat;
              background-position: center;
              margin-right: 10px;
            }
          }
        }
      }

      .text-right {
        ul {
          @include g.myFlex($jc: flex-start, $gap: 20px);

          >li {
            color: g.$color-font-grey2;
            line-height: 140%;
            letter-spacing: -0.2px;
            padding-left: 34px;
            line-height: 24px;
            background-position: left center;
            background-repeat: no-repeat;
            background-size: 24.5px;

            &.icon-wave {
              background-image: url("/images/icons/icon-logo-wave-small.svg");
            }

            &.icon-tving {
              background-image: url("/images/icons/icon-logo-tving-small.jpg");
            }

            &.pd-none {
              padding-left: 0;
            }
          }
        }
      }
    }
  }

  .pay-wrap {
    @include g.myFlexCol($gap: 0);

    &:not(.active) {
      .header {
        border-radius: 12px;
      }

      .item {
        max-height: 0;
        opacity: 0;
        padding: 0;
      }
    }

    &.active {
      .item {
        transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
      }
    }

    .header {
      @include g.myFlex($gap: 0, $jc: flex-start);

      height: 80px;
      padding: 0 40px;
      border-radius: 12px 12px 0 0;
      background: g.$color-secondary-dark2;

      label {
        width: 100%;
        line-height: 80px;
        @include g.myFlex($gap: 8px, $jc: flex-start);
      }
    }

    .item {
      @include g.myFlexCol($gap: 30px);
      align-items: center;
      padding: 40px 0;
      border: 1px solid g.$color-secondary-dark3;
      border-top: none 0;

      .card-wrap {
        @include g.myFlex($gap: 60px, $jc: center);

        @include g.respond768 {
          gap: 20px;
        }

        .add-card {
          @include g.myFlexCol($gap: 12px);
          align-items: center;
          justify-content: center;
          width: 340px;
          height: 200px;
          border-radius: 12px;
          border: 1px solid g.$color-secondary-dark3;

          @include g.respond768 {

            width: 240px;
            min-width: 100px;
          }

          span {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 54px;
            height: 54px;
            background-color: g.$color-primary;
            background-repeat: no-repeat;
            border-radius: 50%;
            overflow: hidden;
            cursor: no-drop;

            img {
              width: 24px;
            }
          }
        }

        .btn-left,
        .btn-right {
          img {
            width: 34px;
            height: 34px;
            cursor: no-drop;
          }
        }
      }

      .card-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 24px;

        @include g.respond768 {
          grid-template-columns: repeat(2, 1fr);
        }

        @include g.respond480 {
          grid-template-columns: repeat(1, 1fr);
        }

        li {
          width: 220px;
          height: 90px;
          padding: 30px 0;
          gap: 10px;
          border-radius: 12px;
          border: 1px solid g.$color-secondary-dark3;
          background-position: center;
          background-repeat: no-repeat;

          &:nth-child(1) {
            background-image: url(/images/button/btn-credit.png);
          }

          &:nth-child(2) {
            background-image: url(/images/button/btn-phone.png);
          }

          &:nth-child(3) {
            background-image: url(/images/button/btn-nPay.png);
          }

          &:nth-child(4) {
            background-image: url(/images/button/btn-kakao.png);
          }

          &:nth-child(5) {
            background-image: url(/images/button/btn-payco.png);
          }

          &:hover,
          &.active {
            border-radius: 12px;
            background-color: g.$color-primary;
            border: g.$color-primary;

            &:nth-child(1) {
              background-image: url(/images/button/btn-credit-hover.png);
            }

            &:nth-child(2) {
              background-image: url(/images/button/btn-phone-hover.png);
            }

            &:nth-child(3) {
              background-image: url(/images/button/btn-nPay-hover.png);
            }

            &:nth-child(4) {
              background-image: url(/images/button/btn-kakao-hover.png);
            }

            &:nth-child(5) {
              background-image: url(/images/button/btn-payco-hover.png);
            }
          }

          span {
            opacity: 0;
          }
        }
      }

      .text-box {
        color: g.$color-font-grey2;
        font-size: 0.825rem;
        line-height: 150%;
        letter-spacing: -0.2px;

        @include g.respond768 {
          padding: 0 20px;
        }

        span {
          display: block;
        }
      }
    }
  }

  .agree-wrap {
    @include g.myFlexCol($gap: 16px);
    color: g.$color-font-grey2;

    .all-agree {
      label {
        color: g.$color-font-white;
      }
    }

    .sub-agrees {
      @include g.myFlexCol($gap: 16px);
    }

    p {
      label {
        @include g.myFlex($gap: 8px, $jc: flex-start);
        font-size: 0.875rem;
        letter-spacing: -0.28px;
      }
    }
  }

  .btn-box {
    @include g.myFlex($gap: 20px, $jc: center);

    button {
      width: 200px;
    }
  }

  .desc-wrap {
    ul {
      @include g.myFlexCol($gap: 8px);

      >li {
        list-style: disc;
        color: g.$color-font-grey2;
        font-size: 0.875rem;
        letter-spacing: -0.28px;
      }
    }
  }
}