@use '../../App.scss' as g;

.player-page {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background-color: #000;
    overflow: hidden;
    z-index: 9999;
    margin: 0;
    padding: 0;

    > .btn {
        position: absolute;
        top: 24px;
        left: 24px;
        padding: 0 40px;
        z-index: 10000;
        height: 60px;
        white-space: nowrap;
        @include g.myFlex($gap: 2px);

        cursor: pointer;
        > img {
            width: 30px;
            height: 30px;
        }
        > span {
            display: inline-block;
        }
    }

    iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border: none;
    }
}
