@use "../../App.scss" as g;

.profile-wrap {
  min-width: 320px;
  margin-top: 90px;
  padding-top: 60px;

  .my-box {
    @include g.myFlex($gap: 24px, $jc: flex-start);

    @include g.respond768(1024px) {
      @include g.myFlexCol($gap: 24px);
    }

    .my-profile-wrap,
    .my-ticket-wrap {
      @include g.myFlexCol();
      align-items: center;
      justify-content: center;
      border-radius: 12px;
      padding: 0 80px;
      background: g.$color-secondary-dark1;
      width: 464px;
      min-height: 340px;
    }
    .my-profile-wrap {
      gap: 16px;

      .img-box {
        width: 120px;
        height: 120px;
        background-size: 120px 120px;

        &.char-1 {
          background-image: url("/images/icons/icon-char-1.svg");
        }

        &.char-2 {
          background-image: url("/images/icons/icon-char-2.svg");
        }

        &.char-3 {
          background-image: url("/images/icons/icon-char-3.svg");
        }

        &.char-4 {
          color: transparent;
          background-image: url("/images/icons/icon-char-4.svg");
        }
      }

      .text-name {
        margin-top: 10px;
        font-family: "wave";
        font-size: 22px;

        > p {
          @include g.myFlex($gap: 8px, $jc: flex-start);

          &.nickname-modify {
            input {
              width: 160px;
              height: 28px;
            }
          }
        }
      }
    }

    .my-ticket-wrap {
      gap: 40px;

      .text-ticket {
        @include g.myFlexCol($gap: 20px);
        align-items: center;
        justify-content: center;

        .ticket-title {
          margin-top: 10px;
          color: g.$color-secondary-white;
          font-family: "Wave";
          font-size: 22px;
        }

        .ticket-price {
          @include g.myFlex($gap: 12px);

          .month {
            color: g.$color-font-grey2;
          }

          .text-coast {
            @include g.myFlex($gap: 4px);

            strong {
              font-family: "Wave";
              font-size: 26px;
            }

            span {
              padding-top: 4px;
              font-family: "Wave";
            }
          }
        }
      }
    }

    .btn-box {
      width: 100%;
    }
  }
}
