@use '../../App.scss' as g;

.service-center-wrap {
  margin-top: 90px;
  padding-top: 80px;

  .service-list-tab {
    margin: 80px 0;
    @include g.myFlex($gap: 0, );
    border-radius: 34px;
    background-color: g.$color-secondary-dark2;

    >li {
      flex: 1;
      >a {
        display: block;
        height: 68px;
        line-height: 68px;
        color: g.$color-font-white;
        text-align: center;
        font-family: 'wave';

        &.active {
          background-color: g.$color-primary;
          border-radius: 34px;
        }
      }
    }
  }
}