@use "../../App.scss" as g;

main {
  > .signup {
    position: relative;
    z-index: 1;
    margin: 140px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
    width: 700px;
    min-width: 320px;
    padding: 60px 80px 30px;
    background-color: g.$color-bg-dark;
    border-radius: 40px;
    @include g.respond768(1024px) {
      width: 92%;
      padding: 20px 20px;
    }

    > div {
      @include g.myFlexCol($gap: 16px);

      h2 {
        font-family: "wave";
        text-align: center;
        font-size: 32px;

        + p {
          text-align: center;
          color: g.$color-font-grey4;
          font-size: 1rem;
        }
      }
    }

    form {
      @include g.myFlexCol($gap: 32px);

      label.input-text {
        display: flex;
        flex-direction: column;
        gap: 8px;
        position: relative;
        color: g.$color-font-white;

        > input[type="text"],
        > input[type="password"] {
          width: 100%;
        }
      }

      .text-info {
        // font-size: 0.75rem;
        color: g.$color-font2;
        &.error {
          color: g.$color-font-error;
        }
      }
    }

    .division-list {
      @include g.myFlex($gap: 12px, $jc: center);
      color: g.$color-font2;

      li {
        position: relative;
        padding-right: 12px;
        word-break: keep-all;

        &::after {
          content: "";
          position: absolute;
          right: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 1px;
          height: 8px;
          background-color: g.$color-font-white;
          opacity: 0.4;
        }

        &:last-child {
          padding-right: 0;

          &::after {
            width: 0;
          }
        }
      }
    }

    .btn-box {
      @include g.myFlexCol($gap: 20px);
      > p {
        text-align: center;
        color: g.$color-font-grey4;
      }
    }

    .btn-box-other {
      display: flex;
      flex-direction: column;
      gap: 24px;
      color: g.$color-font-grey4;
      text-align: center;

      > ul {
        @include g.myFlex($gap: 20px, $jc: center);
      }

      .text-bottom {
        padding-top: 6px;
        line-height: 140%;
      }
    }
  }
}
