@use "../../App.scss" as g;

.ticket-wrap {
  margin-top: 90px;
  padding-top: 60px;

  section {
    @include g.myFlexCol($gap: 40px);
    h2 {
      &.withLogo {
        padding-left: 257px;
        background-image: url(/images/double-logo.png);
        background-repeat: no-repeat;
        background-position: left center;
      }
    }
  }

  .ticket-card-list {
    display: flex;
    gap: 20px;
    overflow-x: hidden;
    padding-bottom: 20px;
    > .list {
      position: relative;
      width: 464px;
      height: 480px;
      flex-shrink: 0;
      transform-style: preserve-3d;
      transition: transform 0.9s cubic-bezier(0.4, 0, 0.2, 1);

      > div {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        backface-visibility: hidden;
        transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1);
        color: g.$color-font-white;
        padding: 30px 50px;
        display: block;
        border-radius: 12px;
      }

      // ===================================
      // 1. 앞면 (.card-front) 스타일
      // ===================================
      > .card-front {
        @include g.myFlexCol($gap: 30px);
        background-color: g.$color-secondary-dark1;
        border: 1px solid g.$color-secondary-dark2;
        transform: rotateY(0deg);
        z-index: 2;
        .front-top {
          @include g.myFlex();
          &.jc {
            justify-content: center;
          }
          .badge {
            min-width: 40px;
            padding: 4px 8px;
            align-items: center;
            border-radius: 6px;
            background: g.$color-secondary-black;
            color: g.$color-font-primary;
            text-align: center;
            font-size: 0.75rem;
            font-weight: 600;
            letter-spacing: -0.24px;
          }
          .btn-detail {
            padding-right: 26px;
            color: #999;
            font-family: "wave";
            font-size: 0.875rem;
            line-height: 140%;
            letter-spacing: -0.2px;
            background-image: url(/images/icons/icon-plus.svg);
            background-repeat: no-repeat;
            background-position-x: 100%;
            background-size: 24px;
            line-height: 24px;
          }
        }
        .front-header {
          h3 {
            color: g.$color-font-white;
            text-align: center;
            font-family: "wave";
            font-size: 1.75rem;
          }
        }
        .front-content {
          @include g.myFlexCol($gap: 16px);
          &:has(.ticket-brand) {
            @include g.myFlexCol($gap: 50px);
          }
          .ticket-price {
            @include g.myFlex();
            width: 364px;
            height: 96px;
            padding: 12px 24px;
            border-radius: 16px;
            background: #11141d;
            &:hover {
              cursor: pointer;
              background-color: g.$color-primary;
              .period {
                .month {
                  color: g.$color-font-white;
                  font-family: "wave";
                  font-size: 1.125rem;
                }
                .sale {
                  background-color: g.$color-secondary-black;
                }
              }
              .coast-box {
                .text-coast {
                  del {
                    color: g.$color-secondary-white;
                  }
                }
                .text-total {
                  color: g.$color-secondary-white;
                }
              }
            }

            .period {
              @include g.myFlex($gap: 8px, $jc: flex-start);

              .month {
                color: g.$color-font-grey2;
                font-size: 1.125rem;
                line-height: 140%;
              }
              .sale {
                display: flex;
                align-items: center;
                padding: 2px 6px;
                color: g.$color-font-white;
                line-height: 24px;
                font-family: "Wave";
                font-size: 0.875rem;
                line-height: 140%;
                border-radius: 6px;
                background: g.$color-primary;
              }
            }
            .coast-box {
              @include g.myFlexCol($gap: 0);
              .text-coast {
                @include g.myFlex($gap: 4px);
                del {
                  padding-right: 4px;
                  color: g.$color-font-grey2;
                }
                strong {
                  font-family: "wave";
                  font-size: 2rem;
                  line-height: 140%;
                  letter-spacing: -0.32px;
                }
                span {
                  font-size: 1.125rem;
                }
              }
              .text-total {
                color: g.$color-font-grey2;
                font-size: 0.875rem;
                line-height: 140%;
                text-align: right;
              }
            }
          }
          .ticket-brand {
            @include g.myFlexCol($gap: 8px);
            align-items: center;
            span {
              color: g.$color-font-grey2;
              line-height: 140%;
              letter-spacing: -0.2px;
              padding-left: 34px;
              line-height: 24px;
              background-position: left center;
              background-repeat: no-repeat;
              background-size: 24.5px;
              &.icon-wave {
                background-image: url("/images/icons/icon-logo-wave-small.svg");
              }
              &.icon-tving {
                background-image: url("/images/icons/icon-logo-tving-small.jpg");
              }
              &.pd-none {
                padding-left: 0;
              }
            }
          }
        }

        background-image: url(/images/badge/badge-wavve-logo-gray.svg);
        background-repeat: no-repeat;
        background-size: 70px 15px;
        background-position-x: center;
        background-position-y: calc(100% - 30px);
        // background-color: red;
      }

      // ===================================
      // 2. 뒷면 (.card-back) 스타일
      // ===================================
      > .card-back {
        padding: 40px;
        border-radius: 12px;
        border: 1px solid #1d2131;
        background: #040407;
        z-index: 1;
        transform: rotateY(180deg);
        overflow-y: hidden;

        ul {
          @include g.myFlexCol($gap: 20px);

          > li {
            @include g.myFlex($gap: 0, $ai: flex-start);
            line-height: 140%;
            strong {
              color: g.$color-font-grey2;
              font-weight: normal;
            }
            span {
              text-align: right;
            }
          }
        }
      }

      &.flipped {
        // 앞면을 뒤로 180도 회전하여 숨김
        > .card-front {
          transform: rotateY(-180deg);
        }

        // 뒷면을 정면 (0도)으로 회전하여 보이게 함
        > .card-back {
          transform: rotateY(0deg);
        }
      }
    }
  }
}
