@use "../App.scss" as g;
.badge-text-type {
  min-width: 40px;
  padding: 4px 8px;
  align-items: center;
  border-radius: 6px;
  background: g.$color-secondary-black;
  color: g.$color-font-primary;
  text-align: center;
  font-size: 0.75rem;
  font-weight: 600;
  letter-spacing: -0.24px;
}
.btn {
  min-width: 100px;
  text-align: center;
  color: g.$color-font-white;
  display: inline-block;
  border-radius: 50px;

  &.xsmall {
    padding: 0 12px;
    min-width: 60px;
    line-height: 22px;
    height: 24px;
    font-size: 0.75rem;
  }

  &.small {
    padding: 0 15px;
    line-height: 30px;
    height: 32px;
    font-size: 0.875rem;
    font-weight: 500;
  }

  &.default {
    padding: 0 28px;
    line-height: 56px;
    font-size: 1rem;
  }

  &.large {
    padding: 0 34px;
    height: 68px;
    line-height: 68px;
    font-size: 1.125rem;
    font-weight: 700;
  }

  &.primary {
    background-color: g.$color-font-primary;
    &:hover {
      background-color: #003dc2;
    }
  }

  &.secondary {
    background-color: g.$color-secondary-white;
    color: g.$color-font-primary;
    &:hover {
      background-color: #e3e3e3;
    }
  }

  &.secondary-line {
    border: 1px solid #fff;
    &:hover {
      background-color: #2c2c2c;
    }
  }

  &.disabled,
  &:disabled {
    color: g.$color-font-grey2;
    background-color: g.$color-secondary-dark3;
    cursor: no-drop;
    &:hover {
      background-color: g.$color-secondary-dark3;
    }
  }

  &.wFull {
    width: 100%;
    display: block;
  }
}
.btn-box {
  &.col-2 {
    @include g.myFlex($gap: 8px);
    > button,
    > a {
      flex: 1;
    }
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"],
textarea {
  border: 1px solid #2c3040;
  border-radius: 4px;
  background: #2c3040;
  padding: 0 16px;
  line-height: 56px;
  height: 56px;
  color: g.$color-font-white;
  font-size: 0.825rem;
  caret-color: auto;

  &:focus {
    border: 1px solid g.$color-font-grey3;
  }

  &::placeholder {
    color: g.$color-font-grey3;
  }

  &:disabled,
  .disabled {
    color: g.$color-font-grey2;
    background-color: #3d4256;
    cursor: no-drop;
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  color: #fff;
  overflow: hidden;
  border: 1px solid g.$color-font-grey3;
  background-color: transparent;
}

/* 체크 박스*/
input[type="checkbox"]:checked {
  accent-color: g.$color-primary;
  border: 1px solid g.$color-primary;
}

input[type="checkbox"]:checked::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-image: url(/images/icons/icon-checkbox-checked.svg);
}

input[type="checkbox"]:disabled::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  border: 1px solid g.$color-secondary-dark3;
  background-image: url(/images/icons/icon-checkbox-disabled.svg);
}

/* 라디오*/
input[type="radio"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  color: #fff;
  overflow: hidden;
  border: 1px solid g.$color-font-grey3;
  background-color: transparent;
}

input[type="radio"]:checked {
  border: 1px solid g.$color-primary;
}

input[type="radio"]:checked::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);

  background-image: url(/images/icons/icon-radio-checked.svg);
}

table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}

th {
  line-height: 60px;
}

td {
  line-height: 84px;
}

/* Wavve PADO 폰트 클래스 */
.font-wave {
  font-family: "Wave";
}

/* Russo One 폰트 클래스 */
.font-russo {
  font-family: "Russo One";
}
