@use "../App.scss" as g;

.btn {
  min-width: 100px;
  text-align: center;
  color: g.$color-font-white;
  display: inline-block;
  border-radius: 30px;

  &.xsmall {
    padding: 0 12px;
    min-width: 60px;
    line-height: 22px;
    height: 24px;
    font-size: 12px;
  }

  &.small {
    height: 32px;
    font-size: 14px;
  }

  &.default {
    line-height: 56px;
    min-width: 136px;
    font-size: 16px;
  }

  &.large {
    height: 68px;
    font-size: 18px;
  }

  &.primary {
    background-color: g.$color-font-primary;
  }

  &.secondary {
    background-color: g.$color-secondary-white;
    color: g.$color-font-white;
  }


  &.disabled,
  &:disabled {
    color: g.$color-font-white;
    background-color: g.$color-secondary-dark3;
    cursor: no-drop;
  }

  &.wFull {
    width: 100%;
    display: block;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #2c3040;
  border-radius: 4px;
  background: #2c3040;
  padding: 0 16px;
  line-height: 56px;
  height: 56px;
  color: g.$color-font-white;
  caret-color: g.$color-primary;
  font-size: 0.825rem;

  &:focus {
    border: 1px solid g.$color-font-grey3;
  }

  &::placeholder {
    color: g.$color-font-grey3;
  }

  &:disabled {
    background-color: #3d4256;
    cursor: no-drop;
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  color: #fff;
  overflow: hidden;
  border: 1px solid g.$color-font-grey3;
  background-color: transparent;
}

/* 체크*/
input[type="checkbox"]:checked {
  accent-color: g.$color-primary;
  border: 1px solid g.$color-primary;
}

/* 체크 표시 */
input[type="checkbox"]:checked::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-image: url(/images/icons/icon-checkbox-checked.svg);
}

input[type="checkbox"]:disabled::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  border: 1px solid g.$color-secondary-dark3;
  background-image: url(/images/icons/icon-checkbox-disabled.svg);
  z-index: 1;
}

input[type="radio"] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid g.$color-other2;
  border-radius: 50%;
  accent-color: g.$color-font-primary;
}