@use "../App.scss" as g;

.btn {
  min-width: 100px;
  text-align: center;
  padding: 0 24px;
  color: g.$color-font-white;
  display: inline-block;
  border-radius: 4px;

  &.xsmall {
    padding: 0 12px;
    min-width: 60px;
    line-height: 22px;
    height: 24px;
    font-size: 14px;
  }

  &.small {
    height: 32px;
    font-size: 16px;
  }

  &.middle {
    height: 40px;
    line-height: 40px;
    min-width: 136px;
    font-size: 16px;
  }

  &.large {
    height: 64px;
    font-size: 24px;
  }

  &.primary {
    background-color: g.$color-font-primary;
  }

  &.secondary {
    background-color: g.$color-secondary-white;
  }

  &.outline {
    color: g.$color-font-primary;
    background-color: g.$color-font-white;
    border: 1px solid g.$color-font-primary;
  }
  &.grey {
    color: g.$color-font-white;
    background-color: g.$color-other2;
    border: 1px solid g.$color-other2;
  }
  &.wFull {
    width: 100%;
    display: block;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #2c3040;
  border-radius: 4px;
  background: #2c3040;
  padding: 0 16px;
  line-height: 56px;
  height: 56px;
  color: g.$color-font-white;
  caret-color: g.$color-primary;
  font-size: 0.825rem;
  &:focus {
    border: 1px solid g.$color-font-grey3;
  }

  &::placeholder {
    color: g.$color-font-grey3;
  }
  &:disabled {
    background-color: #3d4256;
    cursor: no-drop;
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  accent-color: g.$color-secondary-white;
  color: #fff;
  overflow: hidden;
  border: 1px solid g.$color-font-white;
  background-color: g.$color-font-white;
}

/* 체크*/
input[type="checkbox"]:checked {
  accent-color: g.$color-secondary-white;
}

/* 체크 표시(✔) */
input[type="checkbox"]:checked::after {
  content: "✔";
  text-align: center;
  position: absolute;
  color: g.$color-primary;
  font-size: 14px;
  font-weight: bold;
  top: 50%;
  left: 50%;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  transform: translate(-50%, -44%);
  line-height: 1;
  background-color: g.$color-secondary-white;
}

input[type="radio"] {
  position: relative;
  width: 16px;
  height: 16px;
  border: 1px solid g.$color-other2;
  border-radius: 50%;
  accent-color: g.$color-font-primary;
}
