@use "../App.scss" as g;

.btn {
  min-width: 100px;

  text-align: center;
  color: g.$color-font-white;
  display: inline-block;
  border-radius: 30px;

  &.xsmall {
    padding: 0 12px;
    min-width: 60px;
    line-height: 22px;
    height: 24px;
    font-size: 12px;
  }

  &.small {
    padding: 0 15px;
    height: 32px;
    font-size: 14px;
  }

  &.default {
    padding: 0 28px;
    line-height: 56px;
    min-width: 136px;
    font-size: 16px;
  }

  &.large {
    padding: 0 34px;
    height: 68px;
    line-height: 68px;
    font-size: 18px;
    font-weight: bold;
  }

  &.primary {
    background-color: g.$color-font-primary;
  }

  &.secondary {
    background-color: g.$color-secondary-white;
    color: g.$color-font-primary;
  }

  &.disabled,
  &:disabled {
    color: g.$color-font-grey2;
    background-color: g.$color-secondary-dark3;
    cursor: no-drop;
  }

  &.wFull {
    width: 100%;
    display: block;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
input[type="tel"] {
  border: 1px solid #2c3040;
  border-radius: 4px;
  background: #2c3040;
  padding: 0 16px;
  line-height: 56px;
  height: 56px;
  color: g.$color-font-white;
  font-size: 0.825rem;
  caret-color: auto;

  &:focus {
    border: 1px solid g.$color-font-grey3;
  }

  &::placeholder {
    color: g.$color-font-grey3;
  }

  &:disabled,
  .disabled {
    color: g.$color-font-grey2;
    background-color: #3d4256;
    cursor: no-drop;
  }
}

input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  color: #fff;
  overflow: hidden;
  border: 1px solid g.$color-font-grey3;
  background-color: transparent;
}

/* 체크 박스*/
input[type="checkbox"]:checked {
  accent-color: g.$color-primary;
  border: 1px solid g.$color-primary;
}

input[type="checkbox"]:checked::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  background-image: url(/images/icons/icon-checkbox-checked.svg);
}

input[type="checkbox"]:disabled::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);
  border: 1px solid g.$color-secondary-dark3;
  background-image: url(/images/icons/icon-checkbox-disabled.svg);
}

/* 라디오*/
input[type="radio"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  width: 22px;
  height: 22px;
  border-radius: 11px;
  color: #fff;
  overflow: hidden;
  border: 1px solid g.$color-font-grey3;
  background-color: transparent;
}

input[type="radio"]:checked {
  border: 1px solid g.$color-primary;
}

input[type="radio"]:checked::after {
  content: "";
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 22px;
  height: 22px;
  transform: translate(-50%, -50%);

  background-image: url(/images/icons/icon-radio-checked.svg);
}


table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;

  &+.list-content {
    padding: 80px 64px;
    line-height: 2;
    border-bottom: 1px solid g.$color-secondary-dark3;
    overflow: hidden;

  }
}

th {
  line-height: 60px;
}

td {
  line-height: 84px;
}

tr {
  >th {
    background-color: g.$color-secondary-dark1;
  }

  >td {
    border-bottom: 1px solid g.$color-secondary-dark3;
  }
}

.list-button {
  @include g.myFlex($gap: 20px, $jc: center);
  padding-top: 40px;
}