
/* common layout */
.inner {
  min-width: 1440px;
  max-width: 1720px;
  margin: 0 auto;
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .inner {
    max-width: 100%;    /* 너비 제한을 더 줄임 */
    min-width: 100%;    /* 너비 제한을 더 줄임 */
  }
}