$color-primary: #0050ff;
$color-secondary-black: #000;
$color-secondary-white: #fff;

$color-secondary-dark: #222326;

$color-secondary-dark1: #0d0f16;
$color-secondary-dark2: #12141d;
$color-secondary-dark3: #2c3040;

$color-other2: #999999;
$color-other3: #878c9e;
$color-other4: #adb0be;

$color-bg-dark: #12141d;

// color-font
$color-font-primary: $color-primary;
$color-font-black: $color-secondary-black;
$color-font-white: $color-secondary-white;
$color-font-grey1: #4e525d;
$color-font-grey2: #878c9e;
$color-font-grey3: #adb0be;
$color-font-grey4: #999999;

$color-font2: $color-other2;
$color-font3: $color-other3;
$color-font4: $color-other4;

// error
$color-font-error: #fb2b47;

h2 {
    font-family: 'wave';
    font-size: 26px;
    color: #fff;
}
.card-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
}

// 공통 mixin
@mixin myFlex($jc: space-between, $ai: center, $fw: null, $gap: 2rem) {
    display: flex;
    justify-content: $jc;
    align-items: $ai;
    flex-wrap: $fw;
    gap: $gap;
}

@mixin myFlexCol($fw: null, $gap: 2rem) {
    display: flex;
    flex-direction: column;
    gap: $gap;
}
// 반응형
$breakpoint-sm: 480px;
$breakpoint-md: 768px;
$breakpoint-lg: 1024px;
$breakpoint-xl: 1200px;

@mixin respond480 {
    @media screen and (max-width: $breakpoint-sm) {
        @content;
    }
}
