// color
$color-primary: #0050ff;
$color-secondary-black: #000;
$color-secondary-white: #fff;
$color-secondary-dark: #222326;
$color-other2: #999999;
$color-other3: #878c9e;
$color-other4: #adb0be;

// color-font
$color-font-primary: $color-primary;
$color-font-black: $color-secondary-black;
$color-font-white: $color-secondary-white;
$color-font-grey1: #4e525d;
$color-font-grey2: #878c9e;
$color-font-grey3: #adb0be;
$color-font-grey4: #999999;

$color-font2: $color-other2;
$color-font3: $color-other3;
$color-font4: $color-other4;
// ???
$color-font-red: #dd2f38;

.card-list {
  display: flex;
  flex-direction: column;
  gap: 32px;
  h2 {
    font-family: "wave";
    font-size: 26px;
    color: #fff;
  }
}
// 공통 mixin
@mixin myFlex($jc: space-between, $ai: center, $fw: null, $gap: 2rem) {
  display: flex;
  justify-content: $jc;
  align-items: $ai;
  flex-wrap: $fw;
  gap: $gap;
}

@mixin myFlexCol($fw: null, $gap: 2rem) {
  display: flex;
  flex-direction: column;
  gap: $gap;
}
