* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-size: 10px;
  font-family: 'Pretendard', Pretendard, '돋움', sans-serif;
}

ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  background: inherit;
  font-family: 'Pretendard', Pretendard, '돋움', sans-serif;
  outline: none;
  cursor: pointer;
}

img,
video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}
