* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  background-color: #000;
  color: #fff;
  font-size: 16px;
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}
main {
 padding-bottom: 120px;
}
ol,
ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
button,
textarea {
  border: none;
  background: inherit;
  font-family: "Pretendard", Pretendard, "돋움", sans-serif;
  outline: none;
}
button {
  cursor: pointer;
}

img,
video {
  width: 100%;
  max-width: 100%;
  height: 100%;
  vertical-align: middle;
}

main .inner {
  display: flex;
  flex-direction: column;
  gap: 120px;
}
.inner {
  max-width: 1720px;
  margin: 0 auto;
  padding: 0 20px;
}
/* =======================================
 * Wavve PADO, Russo One @font-face 정의
 * ======================================= */
@font-face {
  font-family: "Wave";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/2404@1.0/WavvePADO-Regular.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap; /* 폰트 로딩 전략: 폰트가 로드될 때까지 대체 텍스트를 표시 */
}

